In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/Users/gauravjangid/Desktop/data set/supply_chain.csv")

In [3]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [4]:
df.isnull().sum()

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [5]:
df.dtypes

Product type                object
SKU                         object
Price                      float64
Availability                 int64
Number of products sold      int64
Revenue generated          float64
Customer demographics       object
Stock levels                 int64
Lead times                   int64
Order quantities             int64
Shipping times               int64
Shipping carriers           object
Shipping costs             float64
Supplier name               object
Location                    object
Lead time                    int64
Production volumes           int64
Manufacturing lead time      int64
Manufacturing costs        float64
Inspection results          object
Defect rates               float64
Transportation modes        object
Routes                      object
Costs                      float64
dtype: object

In [6]:
df['SKU'].value_counts()

SKU0     1
SKU63    1
SKU73    1
SKU72    1
SKU71    1
        ..
SKU30    1
SKU29    1
SKU28    1
SKU27    1
SKU99    1
Name: SKU, Length: 100, dtype: int64

In [7]:
#splitting the dataset

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['Costs']),df['Costs'],test_size=0.2,random_state=42)

In [8]:
x_train.columns

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes'],
      dtype='object')

In [9]:
object_columns = df.select_dtypes(include=['object']).columns
object_columns

Index(['Product type', 'SKU', 'Customer demographics', 'Shipping carriers',
       'Supplier name', 'Location', 'Inspection results',
       'Transportation modes', 'Routes'],
      dtype='object')

In [10]:
# first method
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in object_columns:
    x_train[i]=le.fit_transform(x_train[i])

# second method

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

x_train['Product type']=le.fit_transform(x_train['Product type'])

x_train['SKU']=le.fit_transform(x_train['SKU'])

x_train['Customer demographics']=le.fit_transform(x_train['Customer demographics'])

x_train['Shipping carriers']=le.fit_transform(x_train['Shipping carriers'])

x_train['Supplier name']=le.fit_transform(x_train['Supplier name'])

x_train['Location']=le.fit_transform(x_train['Location'])

x_train['Inspection results']=le.fit_transform(x_train['Inspection results'])

x_train['Transportation modes']=le.fit_transform(x_train['Transportation modes'])

x_train['Routes']=le.fit_transform(x_train['Routes'])

In [11]:
x_train

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Supplier name,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes
55,1,38,79.855058,16,701,2925.675170,1,97,11,11,...,1,2,27,918,5,30.323545,0,4.548920,3,1
88,0,68,75.270407,58,737,9444.742033,1,60,18,85,...,1,4,21,953,11,68.184919,2,0.722204,3,0
26,1,14,97.446947,9,353,3716.493326,1,59,16,48,...,1,0,26,171,4,15.972230,1,2.119320,1,0
42,2,27,46.529168,98,155,1839.609426,0,22,27,57,...,4,0,26,179,7,96.422821,0,4.939255,2,0
69,2,53,54.865529,62,511,1752.381087,2,95,1,27,...,3,3,9,862,7,77.627766,2,1.362388,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2,44,17.028028,16,380,8864.084350,0,41,27,72,...,3,4,29,929,24,87.213058,0,2.853091,1,0
71,0,55,6.381533,14,637,8180.337085,0,76,2,26,...,1,0,2,258,10,30.661677,2,2.078751,2,0
14,2,3,99.171329,26,562,8653.570926,2,54,29,78,...,0,3,25,558,14,5.791437,2,0.100683,0,1
92,0,72,47.714233,44,276,2100.129755,1,90,25,10,...,1,4,4,671,29,62.612690,1,0.333432,1,1
51,1,35,26.700761,61,154,9866.465458,1,100,4,52,...,4,0,18,673,28,14.190328,2,1.772951,2,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             100 non-null    object
 1   SKU                      100 non-null    object
 2   Price                    100 non-null    float64
 3   Availability             100 non-null    int64
 4   Number of products sold  100 non-null    int64
 5   Revenue generated        100 non-null    float64
 6   Customer demographics    100 non-null    object
 7   Stock levels             100 non-null    int64
 8   Lead times               100 non-null    int64
 9   Order quantities         100 non-null    int64
 10  Shipping times           100 non-null    int64
 11  Shipping carriers        100 non-null    object
 12  Shipping costs           100 non-null    float64
 13  Supplier name            100 non-null    object
 14  Location                 100 non-null    object
 15  Lead time                100 non-null    int64
 16  Production volumes       100 non-null    int64
 17  Manufacturing lead time  100 non-null    int64
 18  Manufacturing costs      100 non-null    float64
 19  Inspection results       100 non-null    object
 20  Defect rates             100 non-null    float64
 21  Transportation modes     100 non-null    object
 22  Routes                   100 non-null    object
 23  Costs                    100 non-null    float64
dtypes: float64(6), int64(9), object(9)
memory usage: 18.9+ KB

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_normalise_obj=sc.fit_transform(x_train[['Product type', 'SKU', 'Customer demographics', 'Shipping carriers',
       'Supplier name', 'Location', 'Inspection results',
       'Transportation modes', 'Routes']])

In [14]:
x_train_normalise_df=pd.DataFrame(x_train_normalise_obj,columns=object_columns)

In [15]:
import numpy as np
np.round(x_train_normalise_df.describe(),2)

,Product type,SKU,Customer demographics,Shipping carriers,Supplier name,Location,Inspection results,Transportation modes,Routes
count,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00,80.00
mean,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,0.00
std,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01,1.01
min,-1.36,-1.71,-1.32,-1.32,-1.21,-1.52,-1.26,-1.24,-1.00
25%,-1.36,-0.86,-1.32,-1.32,-1.21,-0.83,-1.26,-1.24,-1.00
50%,-0.15,0.00,0.36,-0.02,0.12,-0.15,-0.11,-0.30,0.31
75%,1.06,0.86,1.20,1.29,0.79,1.23,1.03,0.63,0.31
max,1.06,1.71,1.20,1.29,1.46,1.23,1.03,1.57,1.62

In [16]:
from sklearn.preprocessing import MinMaxScaler
mn=MinMaxScaler()
x_train_mn=mn.fit_transform(x_train[['Product type', 'SKU', 'Customer demographics', 'Shipping carriers',
       'Supplier name', 'Location', 'Inspection results',
       'Transportation modes', 'Routes']])

In [17]:
x_train_mn_df=pd.DataFrame(x_train_mn,columns=object_columns)

In [18]:
x_train_mn_df.describe()

,Product type,SKU,Customer demographics,Shipping carriers,Supplier name,Location,Inspection results,Transportation modes,Routes
count,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,0.562500,0.500000,0.525000,0.506250,0.453125,0.553125,0.550000,0.441667,0.381250
std,0.416245,0.294151,0.399631,0.385609,0.377562,0.366073,0.440081,0.358835,0.383552
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.250000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000
50%,0.500000,0.500000,0.666667,0.500000,0.500000,0.500000,0.500000,0.333333,0.500000
75%,1.000000,0.750000,1.000000,1.000000,0.750000,1.000000,1.000000,0.666667,0.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000